$red:#a1242c;
body {
    // background: url(../images/headerBanner.jpg) center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Francois One', sans-serif;
}
body:before {
          content: "";
          position: fixed;
          top: -10px;
          left: 0;
          width: 100%;
          height: 10px;

          -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
              -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
                         box-shadow: 0px 0px 10px rgba(0,0,0,.8);

          z-index: 100;
}
p {
    color: #ffffff;
}
h2 {
    text-align: center;
    padding: 20px;
    color: #ffffff;
    text-shadow:  0.3px 0.3px red;
    font-size: 40px;
    font-family: 'Francois One', sans-serif;    

}

.frame{
    margin: 150px auto;
    width: 80%; 
    background-image: url(../images/grey1.png);
    box-shadow: 1px 1px 1px 1px hsla(0,0%,87%,0.3);
    border-radius:1px;

}
.social {
    position: fixed;
    right: 10px;
    bottom: 10px;
    a {
        text-decoration: none;
    }
    i {
        color: #fff;
        padding: 5px;
        &:hover {
            color: $red;
        }
    }
}

header {
    width: 100%;
    height: 90px;
    background: hsla(60,100%,100%,0.9);
position: fixed;
    margin: 0 auto;
    z-index: 1;
     -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
              -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
                         box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    .headerlogo {

       margin: 0 auto;
       text-align:center;
       vertical-align: middle;
        a img {
            width: 300px;
            margin-top: 20px;
        }
    }
   
}
// Home Page STyle


.home {
    margin: 0px auto;
    text-align: center;
    overflow: scroll;

    .topSec{
        height: auto;
        padding: 100px ;
        padding-top: 162px;
       background-image: url(../images/headerBanner.jpg);
       background-size: cover;
    
    }
    

    .nav {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    height: 100px;
    padding: 14px 0px 0px 0px;
    background-color: #a1242c;
    color: #fff;
    font-size: 65px;
    cursor: pointer;
    border: 1px solid black;
     -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
              -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
                         box-shadow: 0px 0px 10px rgba(0,0,0,.8);    
    }

    .nav1 a, .nav1{
        background-color: #000;
        color: #fff;
        text-decoration: none;
    }
    .nav2 a, .nav2{
        background-color:  hsla(183,100%,14%,1);;
        color: #fff;
        text-decoration: none;
    }
    .nav3 a, .nav3{
        background-color:#ecefee;
        color: #000;
        text-decoration: none;
    }
    .nav4 a, .nav4{
        background-color:#895b00;
        color: #fff;
        text-decoration: none;
    } 
    .nav5 a, .nav5{
        background-color:$red;
        color: #fff;
        text-decoration: none;
    }

    .readMore {
        font-size:30px;
        cursor: pointer;

    }
    }

.accordion {
   margin: 0 auto;   
   h2, section {
      padding: 10px;
      a {
        display: block;
        font-weight: bold;
      }
   }
  section {
     font-size: 12px;
     color: black;
     padding: 0;
     &:last-of-type {
       position: relative;
       top: -1px;
     }
  }
}

.item {
    padding: 20px 0px;
}


.contact {
    background-image: url(../images/grey1.png);
    // position: fixed;
    width: 100%;
    height: auto;
    overflow: auto;


h2 {
    margin: 0;
    padding-top: 130px;
}
}




    .news {
        background-image: url(../images/grey1.png);
    border-top: 1px solid $red;
    border-bottom: 1px solid $red;



        h2 {
            color: #ffffff;
        }
        .musicIcons .fa {
            color: #ffffff;
        }
    }
// Events PAge STyle
   
.events {
    height: 400px;


    h2 {
        text-align: center;
    }

    .singleEvent {
        text-align: center;
        margin-top: 10%;
        font-size:30px;
        color: #ffffff;
    text-shadow:  0.1px 0.1px red;


    }

}
    
.media {
    background-image: url(../images/grey1.png);
    padding-top: 120px;
    h2 {
        margin-bottom: 0px;
    }
    iframe {
        margin: 0 auto !important;
        text-align: center; 
        display: block;
        margin-bottom: 20px;
    }
    .musicIcons {
        margin: 0 auto; 
        text-align: center;

        .fa {
        padding: 10px;
        color: #fff;
        
        &:hover {
            color: $red;
            border: 1px solid $red;
            padding: 5px;
            border-radius: 10px;
        }

        }
    }

}

.about {
    p{
        padding: 0px 50px 20px 50px;
    }
}

.twitterFeed {
    border-top: 1px solid $red;
    border-bottom: 1px solid $red;

    width: 100%;
    padding-top: 20px;
    background-image: url(../images/grey1.png);
    padding-top: 30px;
    padding-bottom: 40px;

    h2 {
        color: #ffffff;
        margin-bottom: 10px;

    }
    .musicIcons .fa{
        color: #ffffff;
        &:hover {
            color: $red;
        }
    }
}

.gala {

h2 {
    color: #ffffff;
    text-shadow:0.5px 0.5px 0.5px $red;
}
}

// Landing PAge Style 
.landingPage {
    margin: 0 auto;
    text-align: center;
    padding: 0px 50px 50px 50px;
background-image: url(../images/grey1.png);
    box-shadow: 1px 1px 1px 1px hsla(0,0%,87%,0.3);

    h2 {
        color: #ffffff;
        text-shadow: 0.5px 0.5px 0.5px $red; 
        
    }
    img {
        width: 70%;
        margin: 0 auto;
        box-shadow: 1px 1px 1px 1px hsla(0, 0%, 12%, 0.7);
    }
    .landingBtn {
        a {
            height: 20px;
            color: #ffffff;
            border: 1px solid #ffffff;
            padding: 10px;
            text-decoration: none;
            background-color: $red;
            border-radius: 5px;
        }
    }
}


.fot {
    text-align: center;
    color: hsla(276,3%,71%,1);
}


@media screen and (max-width: 768px){
    iframe {
        width: 90% !important;
    }
    .fot{
        display:none;
    }

    #wufoo-w453nm60wv8iyc {
        width: 54% !important;
    }

   .wufoo input.btTxt {
        color: $red !important;
    }
}