 <header style="position:absolute;">
 	
 <!-- /header -->
 <div class="headerlogo">
        <a ui-sref="home">
            <img src="images/NickyWillLogo.png" alt="">
        </a>
    </div>
    </header>
<div class="contact">
	<h2>Contact</h2>

	<div id="wufoo-w453nm60wv8iyc" style="margin: 0 auto; width: 40%;">
Fill out my <a href="https://mzevitas.wufoo.com/forms/w453nm60wv8iyc">online form</a>.
</div>
<script type="text/javascript">var w453nm60wv8iyc;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'mzevitas',
'formHash':'w453nm60wv8iyc',
'autoResize':true,
'height':'597',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { w453nm60wv8iyc = new WufooForm();w453nm60wv8iyc.initialize(options);w453nm60wv8iyc.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>


<div class="fot">
	  <p>All rights reservered to I Am Nicky Will &trade;</p>

</div>
<div class="social">
    <a href="#">
        <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
    </a>
    <a href="#">
        <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
    </a>
    <a href="#">
        <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
    </a>
</div>
</div>