<div class="home">
<div class="topSec">
  
  <div>
    <img class="spinner" src="images/logo.png" alt="">
    
  </div>
</div>

  <!-- Wrapper for slides -->

<div class="news" >
	<h2>Latest Music!</h2>
	<iframe style="padding-right: 5px;" width="500" height="275" src="https://www.youtube.com/embed/XLxVY2gQa_I" frameborder="0" allowfullscreen></iframe>
  <iframe style="padding-left: 5px;" width="500" height="275" src="https://www.youtube.com/embed/oG_Lua1BLnU" frameborder="0" allowfullscreen></iframe>
  <br>
  <br> 
  <div class="musicIcons">
  <a href="https://itun.es/us/b2gyP"><i class="fa fa-music fa-3x" aria-hidden="true"></i></a>
  <a href="https://open.spotify.com/artist/5Y54se3BHOSRv2dQ8zZNXX"><i class="fa fa-spotify fa-3x" aria-hidden="true"></i></a>
  <a href="https://www.youtube.com/c/nickywill/feed"><i class="fa fa-youtube fa-3x" aria-hidden="true"></i>
</a>
</div>
<br><br> 
</div>

<div class="gala">
  <div>
    <img class="spinner" src="images/foolish.jpeg" alt="">
    
  </div>
<h2>Foolish Store Coming Soon!</h2>
</div>

<div class="twitterFeed  ">
<h2>Follow me Online!</h2>
<div class="musicIcons">
    <a href="#">
        <i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
    </a>
    <a href="#">
        <i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>
    </a>
    <a href="#">
        <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
    </a>
    <a href="https://www.youtube.com/c/nickywill/feed"><i class="fa fa-youtube fa-3x" aria-hidden="true"></i>
</div>
<br><br>
  <a class="twitter-timeline" href="https://twitter.com/IamNickyWill"  width="500"
  height="400">Tweets by IamNickyWill</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

</div>


<script>
$('.carousel').carousel({
  interval: 3000,
  wrap: true
})
</script>