<header style="position:absolute;">
    <div class="headerlogo">
        <a ui-sref="home">
            <img src="images/NickyWillLogo.png" alt="">
        </a>
    </div>
    </header>
   
<div class="media ">
	<h2>Videos</h2>

<div class="musicIcons">
	<a href="https://itun.es/us/b2gyP"><i class="fa fa-music fa-3x" aria-hidden="true"></i></a>
	<a href="https://open.spotify.com/artist/5Y54se3BHOSRv2dQ8zZNXX"><i class="fa fa-spotify fa-3x" aria-hidden="true"></i></a>
	<a href="https://www.youtube.com/c/nickywill/feed"><i class="fa fa-youtube fa-3x" aria-hidden="true"></i>
</a>
</div>
<br>
<iframe width="500" height="275" src="https://www.youtube.com/embed/XLxVY2gQa_I" frameborder="0" allowfullscreen></iframe>
<br>

<iframe width="500" height="275" src="https://www.youtube.com/embed/oG_Lua1BLnU" frameborder="0" allowfullscreen></iframe>
<br>
<iframe width="500" height="275" src="https://www.youtube.com/embed/GB9jGC00FhQ" frameborder="0" allowfullscreen></iframe>
<br>
<iframe width="500" height="275" src="https://www.youtube.com/embed/R8lD644EBfs" frameborder="0" allowfullscreen></iframe>
<br><br><br>

<div class="fot">
	  <p>All rights reservered to I Am Nicky Will &trade;</p>

</div>
<div class="social">
    <a href="#">
        <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
    </a>
    <a href="#">
        <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
    </a>
    <a href="#">
        <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
    </a>
</div>
</div>